<html>
    {%load static%}
    <head>
        <title>Register page</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="approvepage">
            <center>
                <h1>Approved List</h1>
                <table border="5%">
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    {% for i in value %}
                    <tr>
                        <td>{{i.Name}}</td>
                        <td>{{i.Address}}</td>
                        <td>{{i.Username}}</td>
                        <td>{{i.Password}}</td>
                        <td>{{i.Status}}</td>
                        <td>
                            <a href="/firstapp/edit/{{i.id}}">Edit</a>
                            <a href="/firstapp/delete/{{i.id}}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <br>
                <br>
                {% if a %}
                <form method="post">
                    {% csrf_token %}
                    <table border="5%">
                        <tr>
                            <td>
                                <label>Name</label>
                            </td>
                            <td>
                                {{a.Name}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Address</label>
                            </td>
                            <td>
                                <input type="text" name="address" value="{{a.Address}}">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Username</label>
                            </td>
                            <td>
                                {{a.Username}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Password</label>
                            </td>
                            <td>
                                <input type="password" name="password" value="{{a.Password}}">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Status</label>
                            </td>
                            <td>
                                {{a.Status}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="submit" value="Save Changes">
                            </td>
                        </tr>
                    </table>
                </form>
                {% endif %}
            </center>
        </div>
    </body>
</html>
